@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.animate-slideInRight {
  animation: slideInRight 0.7s ease-in-out;
}
.animate-slideInLeft {
  animation: slideInLeft 0.7s ease-in-out;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.8s ease-out forwards;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  overflow-x: hidden;

  background-image: linear-gradient(
    180deg,
    hsl(168deg 87% 21%) 0%,
    hsl(168deg 83% 20%) 9%,
    hsl(168deg 78% 18%) 18%,
    hsl(168deg 74% 17%) 27%,
    hsl(168deg 69% 15%) 36%,
    hsl(168deg 65% 13%) 45%,
    hsl(168deg 63% 12%) 55%,
    hsl(168deg 65% 11%) 64%,
    hsl(168deg 66% 10%) 73%,
    hsl(168deg 68% 10%) 82%,
    hsl(168deg 69% 9%) 91%,
    hsl(168deg 71% 8%) 100%
  );
  /* hsl(64deg 86% 54%) 0%,
    hsl(78deg 68% 55%) 9%,
    hsl(98deg 49% 53%) 18%,
    hsl(126deg 37% 48%) 27%,
    hsl(150deg 56% 36%) 36%,
    hsl(164deg 83% 25%) 45%,
    hsl(168deg 85% 21%) 55%,
    hsl(168deg 80% 19%) 64%,
    hsl(168deg 76% 18%) 73%,
    hsl(168deg 71% 16%) 82%,
    hsl(168deg 67% 14%) 91%,
    hsl(168deg 63% 13%) 100%
  ); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.no-cursor {
  cursor: default !important;
}

html {
  scroll-behavior: smooth;
}

/* ✅ Hidden Scroll (scroll works but hidden) */
.hidden-scroll::-webkit-scrollbar {
  display: none;
}

.hidden-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* 👇 Offset for scroll to work nicely with sticky navbar */
.scroll-offset {
  scroll-margin-top: 4.5rem; /* Adjust based on your navbar height */
}

.cardEffect {
  backdrop-filter: blur(16px) saturate(200%);
  -webkit-backdrop-filter: blur(16px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(4, 255, 0, 0.125);
}
